header {
  margin: 2vh 7vw 0 7vw;
  border-radius: 8px;
  border: solid 1px #d1d1d1;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.logo {
  font-weight: 800;
  color: dimgray;
}

a {
  color: dimgray;
  border-radius: 6px;
  display: inline-block;
  padding: 16px;
}

a:hover {
background-color: dimgray;
  color: #ffffff;
}
