<section>
  <app-search [searchTerm]="searchTerm" />
  <ul>
    @for (food of foods; track food.id) {
    <li>
    <a href="#">
    <div class="img">
    <img [src]="food.imageUrl" [alt]="food.name" />
    </div>

    <div class="card-content">

    <div class="card-header">
    <div>
    <h4 class="card-title">{{food.name}}</h4>
    <p>{{food.price | currency }}</p>
    </div>
    <span class="{{food.favorite? 'favorite' : '' }}">
    ❤
    </span>
    </div>

    <div>
    <h5>Tags</h5>
    <div class="tags">
    @for(tag of food.tags; track tag) {
    <span class="tag-item">{{tag}}</span>
    }
    </div>
    </div>

    </div>
    </a>
    </li>
    }
  </ul>
</section>
